<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Oraora</h1>
    <p class="lead">This app is too send mass deliver mail to users using sidekiq.</p>
  </div>
</div>
<div class="container">
  <%= link_to new_user_path, remote: true, class:"btn" do %>
    <i class="fas fa-user-plus"></i>
 <% end %>
  <button type="button" class="btn" id="modal-mailer" style="display:none;">
    <i class="far fa-paper-plane"></i>
  </button>
  <%= link_to "#", class: 'btn' do %>
  <% end %>

</div>
<hr>
<div class="container">
  <ul class="list-group">
    <%= render 'users/index' %>
  </ul>
</div>
<%= render 'modal/modal_body'%>

<script>
  $(document).ready(function(){
    $('#modal-mailer').on('click', function() {
      $('#modal_header').modal('show')
      $('#modal_body').html('<%= j render("users/form_mail")%>')
      email_list()
    })
  })

  function email_list() {
  var email_list = []
  $('#email_check:checked').each(function(){
    email_list.push(this.value)
  })
  $('#email_list').val(email_list)
}
</script>
<%= javascript_include_tag 'user' %>